<section id="container">
  <div class="card" style="width: 25rem">
    <mat-icon class="cancel" routerLink="">cancel</mat-icon>
    <div class="img">
      <img src="../../../assets/checkout/logo transparence.png" class="card-img-top" alt="..." />
    </div>
    <div class="card-body">
      <div class="making">
        <h6>Making payment with less of a hassle</h6>
      </div>
      <div class="container text">
        <p>
          Noworri is a middleman that will collect, hold you cash and disburse
          it to {{ businessName}} when you get your product delivered
        </p>
      </div>

      <div class="container petittext">
        Create your account with Noworri and come back to complete your
        transaction on {{ businessName}}
      </div>
      <div id="button">
        <a class="nav-link" href="https://play.google.com/store/apps/details?id=co.noworri.noworri  "><img
            src="../../../assets/icon/playstore-icon.png" alt="" /></a>
      </div>
    </div>
    <div class="secure">
      <h6>
        <span>
          <mat-icon class="lock">lock</mat-icon>
        </span> Secured by Noworri
      </h6>
    </div>
  </div>
</section>