#profil-photo {
    display: flex;
    justify-content: center;
    margin-top: 40px;

    .card {
        max-width: 30rem;
        background-color: #f1f6ff;
        .profil {
            display: flex;
            justify-content: center;
        }
        img {
            width: 60px;
            height: 60px;
            border-radius: 40px;
        }
        border: none;
    }
    .card-body {
        .card-title {
            font-familys: Poppins;
            color: #474646;
            opacity: 1;
            font-size: 12px;
            text-align: center;
            font-weight: 700;
            margin-bottom: -15px;
        }
        h3 {
            text-align: center;
            font-weight: bold;
            color: black;
        }
        h6 {
            text-align: center;
            color: gray;
            margin-bottom: 10px;
        }
    }
}

#cripto-section {
    margin: 0 auto;
    margin-top: 30px;
    .band {
        background: #497dd5 0% 0% no-repeat padding-box;
        opacity: 1;
        height: 40px;
        h4 {
            letter-spacing: 0px;
            color: #ffffff;
            opacity: 1;
            font-weight: 600;
            position: relative;
            top: 6px;
            left: 15px;
        }
    }
    .card-body {
        .cripto {
            display: flex;
            margin-top: 20px;
            img {
                position: relative;
                top: 5px;
                margin-right: 10px;
            }
            .text {
                h3 {
                    font-size: 20px;
                    color: #1c1c1c;
                    opacity: 1;
                }
                h6 {
                    font-size: small;
                    color: #474646;
                    span {
                        color: #de8e68;
                    }
                }
            }
        }
    }
}
hr {
    width: 27rem;
    margin: 0 auto;
    height: 2px;
}

#form {
    margin-top: 15px;
    label {
        letter-spacing: 0px;
        color: #1c1c1c;
        opacity: 1;
        font-size: small;
        font-weight: 600;
    }
    .priceForms{
       
     
    }
    .notice {
        letter-spacing: 0px;
        color: #ff0045;
        opacity: 1;
        font-size: small;
        font-weight: 600;
    }
}
#information {
    margin-top: 10px;
    h5 {
        position: relative;
        left: 16px;
        letter-spacing: 0px;
        color: #ff3400;
        opacity: 1;
        font-size: small;
        font-weight: 600;
    }
    p {
        letter-spacing: 0px;
        color: #1c1c1c;
        opacity: 1;
        font-size: small;
    }
}
#container {
    margin-top: 20px;
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
    button {
        background-color: #497dd5;
    }
}

footer {
    margin-top: 40px;
    p {
        letter-spacing: 0px;
        color: #1c1c1c;
        opacity: 1;
        font-size: small;
        font-weight: 700;
        text-align: center;
        a {
            text-decoration: none;
        }
        span {
            color: #ff3400;
        }
    }

    .container{
        display: flex;
        justify-content: center;
       .btn1{
           background-color: #9C2CFA;
           font-size: medium;
           font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
           text-align: center;
           border-radius: 10px;
           img{
               width: 2rem;
               position: relative;
               top: 8px;
           }
           span{
               font-weight: 800;
           }
       }
       .btn2{
        background-color:white;
        font-size: medium;
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        text-align: center;
        color: black;
        border-radius: 10px;
        border: 0;
        text-align: center;
        img{
            width: 2rem;
            position: relative;
            top: 8px;
            right: 5px;
        }
        span{
            font-weight: 800;
        }
    }

    }
}






@media (min-width: 400px) and (max-width: 512px) {
   

    .card {
        max-width: 400px;
    }
    hr {
        display: none;
    }
}

@media (min-width: 300px) and (max-width: 400px) {
    .card {
        max-width: 330px;
    }
    hr {
        display: none;
    }
}

@media (min-width: 302px) and (max-width: 350px) {
    .card {
        max-width: 300px;
    }
    hr {
        display: none;
    }
}

@media (max-width: 300px) {
    .card {
        max-width: 200px;
    }
    hr {
        display: none;
    }
}
